/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.changecolor:hover{
  color: red;
}

#inputName{
  margin-right: 50px;
}

#inputCpfCnpj{
  margin-right: 50px;
}
#inputMatricula{
  margin-right: 50px;
}
#inputSenha{
  margin-right: 50px;
}
