<mat-spinner *ngIf="!loaded"></mat-spinner>
<div *ngIf="loaded" class="div-user">
  <div *ngIf="flagShowPopup" #popUpBox class="popup" (click)="clickPoUp($event,popUpBox)">
    <mat-card class="card-user">
      <mat-card-title>Adicionar Tipo de Vacina</mat-card-title>
      <form action="">
        <mat-form-field id="inputName">
          <input matInput placeholder="Nome" [(ngModel)]="tipoVacina.nome" name="nome">
        </mat-form-field>

        <mat-form-field id="inputDescricao">
          <input matInput placeholder="Descrição" [(ngModel)]="tipoVacina.descricao" name="descricao">
        </mat-form-field>

      </form>
      <button mat-raised-button #buttonSalvar (click)="createTipoVacina(buttonSalvar, buttonCancelar)"  color="primary" >Salvar</button>
      <button mat-raised-button #buttonCancelar (click)="showPopUp()" >Cancelar</button>
    </mat-card>
  </div>

  <header>

    <div class="row-add">
      <h3>Tipos de Vacina</h3>

      <button (click)="showPopUp()" mat-fab color="primary" aria-label="Adicionar novo fornecedor">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="filter-box">
      <mat-form-field class="input-pesquisar" appearance="fill">
        <mat-label>Pesquisar por Tipo de Vacina:</mat-label>
        <input #inputSearch (input)="search(inputSearch)" matInput placeholder="Digite o tipo de vacina desejado">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Selecione o Filtro</mat-label>
        <mat-select [(ngModel)]="filterField" (selectionChange)="search(inputSearch)">
          <mat-option [value]="''">-</mat-option>
          <mat-option *ngFor="let item of [].constructor(displayedColumns.length); let i = index"  [value]="displayedColumns[i]">{{filterFields[i]}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </header>

  <div class="content">
    <mat-table #table [dataSource]="filterTiposVacinas">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <mat-header-cell *matHeaderCellDef>Descrição</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descricao}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <p *ngIf="filterTiposVacinas.length === 0">Nenhum tipo de vacina encontrado.</p>
  </div>
</div>

