.home .title{
  color:#212121;
  font-size:3rem;
  line-height: 1.5;
}

//.home{
//  display: flex;
//  align-items: center;
//  margin-left: 80px;
//  background-color: white;
//}

.div-home{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

