.div-lote{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

button{
  margin-right: 15px;
  margin-top: 15px;
}

.card-lote{
  margin-left: 30px;
}

#inputData {
  margin-right: 50px;
}

#inputDescricao {
  margin-right: 50px;
}
#inputQuantidade {
  margin-right: 50px;
}
