<div class="div-lote">
  <mat-card class="card-lote">
    <mat-card-title>Cadastrar Lote</mat-card-title>
    <form action="">
      <mat-form-field  id="inputData">
        <input  matInput placeholder="Data de Vencimento" type="date" value="lotevacina.dataVencimento" name="dataVencimento">
      </mat-form-field>
      <mat-form-field  id="inputDescricao">
        <input  matInput placeholder="Descrição"  [(ngModel)]="lotevacina.descricao" name="descricao">
      </mat-form-field>
      <mat-form-field  id="inputQuantidade">
        <input  matInput placeholder="Quantidade" [(ngModel)]="lotevacina.quantidade"  name="quantidade">
      </mat-form-field>
    </form>

    <mat-form-field appearance="fill" class="selectfornecedor">
      <mat-label>Selecione o Fornecedor</mat-label>
      <mat-select [(ngModel)]="lotevacina.idFornecedor" name="fornecedor">
        <mat-option *ngFor="let fornecedor of fornecedores"  [value]="fornecedor.id">{{fornecedor.nome}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="selectvacina">
      <mat-label>Selecione a Vacina</mat-label>
      <mat-select [(ngModel)]="lotevacina.idTipoVacina" name="vacina">
        <mat-option *ngFor="let vacina of vacinas"  [value]="vacina.id">{{vacina.nome}}</mat-option>
      </mat-select>
    </mat-form-field>


    <button mat-raised-button (click)="createLoteVacina()"  color="primary" >Salvar</button>
    <button mat-raised-button (click)="cancelCadastro()" >Cancelar</button>
  </mat-card>
</div>
