<mat-toolbar class="header mat-elevation-z3">
  <span routerLink="/">
    <a>
        <img class="logo" src="/assets/img/logo.png" alt="logo">
    </a>
  </span>
  <span routerLink="/" class="title-page">
    <a class="changecolor">
      <h1>Vaccine<i class="material-icons" >colorize</i>Stock</h1>
    </a>

  </span>
  <div class="div-sessao">
    <button *ngIf="usuarioLogado.id === 0 && !isPageLogin()" mat-raised-button color="primary" name="login" routerLink="/login" >Login</button>
    <button *ngIf="usuarioLogado.id !== 0" mat-raised-button color="accent" name="logout" (click)="logout()" >Logout</button>
  </div>


</mat-toolbar>
